---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import AllWorkshopCard from "../components/AllWorkshopCard.astro";
---

<MainLayout title="Workshops">
  <div class="flex flex-col gap-m md:gap-xl my-m md:my-xl">
    <!-- ***************************** Start Workshops ***************************** -->
    <section class="mx-2xs md:mx-l">
      <Heading
        htmlheading="h1"
        size="large"
        stylingclasses="text-text-dark mb-xs md:mb-m opacity-0 intersect:opacity-100 intersect:animate-fade-right intersect-once"
        >Workshops
      </Heading>

      <Heading
        htmlheading="h4"
        size="xsmall"
        stylingclasses="text-text-dark mb-2xs md:mb-xs"
        >Hos CKMS tilbyder vi et frirum for brugere af psykiatrien, hvor vi
        mødes om at være kreative.
      </Heading>

      <AllWorkshopCard />
      <!-- ***************************** End Workshops ***************************** -->
    </section>
  </div>
</MainLayout>
